<div ng-controller="MainCtrl">
    <canvas id="bar" class="chart chart-bar" chart-data="data"
      chart-labels="labels" chart-legend="true" chart-series="series"
      chart-click="onClick" >
    </canvas>

    <md-progress-linear class="md-dashed md-warn" md-mode="indeterminate" ng-show="fetchData"></md-progress-linear>
    <md-progress-linear ng-hide="fetchData" class="md-primary" md-mode="buffer" value="{{progressValue}}"
                      md-buffer-value="{{progressValue}}"></md-progress-linear>

    <md-content>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="started" ng-click="start()">Start</md-button>
            <md-button class="md-raised md-warn" ng-disabled="!started" ng-click="stop()">Stop</md-button>
            <md-button class="md-raised" ng-disabled="started" ng-click="reset()">Reset</md-button>
        </section>
    </md-content>
</div>
